.h1,h2,h3,h4{
    margin-top: 0;
}

.img{
    display: block;
    max-width: 100%;
    height: auto;
}

.title{
    margin-top: 0;
}

body{
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;   
}
@media screen and (max-width: 412px) {
    .container {
    /* width: 428px; */
    margin-right: auto;
    margin-left: auto;
    }
}

@media screen and (min-width: 413px) and (max-width: 767px){
    .container {
        max-width: 428px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 15px;
    }
}
  
@media screen and (min-width: 768px) and (max-width: 1199px){
    .container {
      max-width: 768px;
      margin-right: auto;
      margin-left: auto;
    }
}
  
@media screen and (min-width: 1200px) {
    .container {
      width: 1158px;
      margin-right: auto;
      margin-left: auto;
    }
}

.container-header{
    background-color: rgba(191, 173, 163, 0.58);
    /* position: absolute; */
    height: 276px;
    width: 814px;
    
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: 0;
    padding-top: 30px;
    text-align: center;
    color: #ffffffff;
    
}


.headline {
    padding-top: 588px;
    padding-bottom: 108px;
    max-width: 1540px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(118,118,118, 0.5), rgba(118,118,118, 0.8)), url(../image/snapedit_1706646980973кк.png);
    border: 1px solid #000000;
    box-sizing: border-box;

    
    
}