.h1,h2,h3,h4{
    margin-top: 0;
}

.img{
    display: block;
    max-width: 100%;
    height: auto;
}

.title{
    margin-top: 0;
}

body{
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;   
}
@media screen and (max-width: 412px) {
    .container {
    /* width: 428px; */
    margin-right: auto;
    margin-left: auto;
    }
}

@media screen and (min-width: 413px) and (max-width: 767px){
    .container {
        max-width: 428px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 15px;
    }
}
  
@media screen and (min-width: 768px) and (max-width: 1199px){
    .container {
      max-width: 768px;
      margin-right: auto;
      margin-left: auto;
    }
}
  
@media screen and (min-width: 1200px) {
    .container {
      width: 1158px;
      margin-right: auto;
      margin-left: auto;
    }
}

.container_header{
    background-color: rgba(191, 173, 163, 0.58);
    /* position: absolute; */
    /* height: 522px;
    width: 814px; */
    padding-top: 25px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 24px; */
    /* margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 30px; */
    text-align: center;
    color: #ffffffff;
    
}

.container_vitanja{
    background-color: rgba(255, 255, 255, 0.66);
    color: black;
}



.headline {
    /* padding-top: 308px;
    padding-bottom: 108px; */
    max-width: 1540px;
    max-height: 905px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(118,118,118, 0.5), rgba(118,118,118, 0.8)), url(../image/snapedit_1706646980973кк.png);
    box-sizing: border-box;
}

.vitanja{
    padding-top: 85px;
    padding-bottom: 85px;
    max-width: 1540px;
    max-height: 905px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.66), rgba(255, 255, 255, 0.66)), url(../image/pexels-emma-bauso-2253870\ \(1\).jpg);
    box-sizing: border-box;
}

.restoran{
    padding-top: 85px;
    padding-bottom: 85px;
    max-width: 1540px;
    max-height: 905px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(118,118,118, 0.5), rgba(118,118,118, 0.8)), url(../image/pexels-nathan-cowley-1128782.jpg);
    box-sizing: border-box;
}

.container_restoran{
    /* background-color: rgba(191, 173, 163, 0.58); */
    /* position: absolute; */
    /* height: 522px;
    width: 814px; */
    /* padding-top: 25px;
    padding-bottom: 20px; */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 24px; */
    /* margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 30px; */
    text-align: center;
    color: #ffffffff;
}

.palitra-color{
    padding-top: 25px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 24px; */
    /* margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 30px; */
    text-align: center;
    color: #ffffffff;
}

.program-day{
    padding-top: 85px;
    padding-bottom: 85px;
    max-width: 1540px;
    max-height: 905px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(118,118,118, 0.5), rgba(118,118,118, 0.8)), url(../image/фоннн.jpg);
    box-sizing: border-box;
}

.photo{
    padding-top: 85px;
    padding-bottom: 85px;
    max-width: 1540px;
    max-height: 905px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(118,118,118, 0.5), rgba(118,118,118, 0.8)), url(../image/Фотофон.jpg);
    box-sizing: border-box;
}

.wedding-time{
    padding-top: 85px;
    padding-bottom: 85px;
    background-color: #ffffff;

}

.text-brand-color{
        font-size: inherit;
    color: #99bfc5;
    font-size: 30px;
}